.py-1 {
    padding: 10px 0;
}

.items {
    border: 1px solid #e2e5ec;
    padding: 30px;
}

.text-bold {
    font-weight: 900;
}
.m-2{
  margin: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    margin-right: 0px!important;
    padding-left: 5px!important;
}
.alert {
  padding: 20px;
  background-color: #ef394e;
  color: white;
  font-size: 15px;
  font-size: 1.286rem;
  border-radius: 8px;
    color: #fff;
    font-weight: 400;
}

.d-flex{
  width: 100%!important;
  display: flex!important;
}
.w-100{
  width: 100%!important;

}


@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  bottom: 10px;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #00bfd6;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #00bfd6;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
